html, body { margin: 0; padding: 0; }
#main {
    width: 100%;
    height: 100%;
}
canvas {
	position: relative;
}
#interface {
	font-family: 'consolas', fixed-width;
	width: 350px;
	height: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 5%;
	background-color: none;
	z-index: 50;
	position: absolute;
	color: white;
	font-size: 0.7em;
}

#controls {
	font-family: 'consolas', fixed-width;
	width: 175px;
	margin-left: auto;
	margin-right: auto;
	background-color: none;
	right: 0;
	left: 0;
	top: 1em;
	z-index: 50;
	position: absolute;
}

#controls button {
	color: white;
	font-size: 0.7em;
	display: inline-block;
	background: black;
	margin: 0.5em;
	border-radius: 10px;
}
/*#theButton {
	float: left;
	display: inline-block;
	padding: 10px;
	z-index: 100;
	margin: 0 15px;
	margin-top: 0px;
}*/
#nxDial {
	float: left;
	display: inline-block;
	margin: 0 20px;
}
#nxSlider {
	margin-top: 20px;
}

#panel canvas{
	width: 500px;
	padding: 200px;
	border: 5px solid red;
	background: none;
}
#panel canvas {
	width: 500px;
	padding: 200px;
	border: 5px solid red;
}

#navigationL {
	width: 2.7%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}
#navigationR {
	width: 2.7%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
}
#chevron-right {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 0.6em;
	z-index: 99;
}
#chevron-left {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 0.6em;
	z-index: 99;
}

/*navigation*/
.sidenav {
	pointer-events: inherit;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 100;
  background-color: none;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav.leftnav {
	top: 0;
  left: 0;
  transform: translateX(-250px);
}
.sidenav.rightnav {
	top: 0;
  right: 0;
  transform: translateX(250px);
  text-align: right;
}

.sidenav.leftnav.sidenav-revealed {
	transform: translateX(0);
}
.sidenav.rightnav.sidenav-revealed {
	transform: translateX(0);
}

.sidenav.leftnav a, .sidenav.leftnav span{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav.rightnav a, .sidenav.rightnav span {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


