html, body { margin: 0; padding: 0; }
#main {
    width: 100%;
    height: 100%;
}

#theButton {
	width: 100px;
	padding: 15px;
	position: absolute;
	bottom: 5%;
	left: 5%;
	border: 2px solid blue;
}

canvas {
	position: relative;
}