html, body { margin: 0; padding: 0; }
#main {
    width: 100%;
    height: 100%;
}
canvas {
	position: relative;
}
#interface {
	width: 400px;
	height: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 5%;
	background-color: none;
	z-index: 50;
	position: absolute;
	color: white;
	font-size: 0.7em;
}
#theButton {
	float: left;
	display: inline-block;
	padding: 10px;
	z-index: 100;
	margin: 0 15px;
	margin-top: 0px;
}
#nxDial {
	float: left;
	display: inline-block;
	margin: 0 20px;
}
#nxSlider {
	margin-top: 20px;
}

#panel canvas{
	width: 500px;
	padding: 200px;
	border: 5px solid red;
	background: none;
}
#panel canvas {
	width: 500px;
	padding: 200px;
	border: 5px solid red;
}

#navigationL {
	width: 2.7%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}
#navigationR {
	width: 2.7%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
}
#controls {
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
}
#chevron-right {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 0.6em;
	z-index: 99;
}
#chevron-left {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 0.6em;
	z-index: 99;
}

/*navigation*/
.sidenav {
		pointer-events: inherit;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: none;
    overflow-x: hidden;
    transform: translateX(-250px);
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-revealed {
	transform: translateX(0);
}

.sidenav a, .sidenav span{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*right menu*/
.sidenavR {
		pointer-events: inherit;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: none;
    overflow-x: hidden;
    transform: translateX(250px);
    transition: 0.5s;
    padding-top: 60px;
    text-align: right;
}

.sidenavR-revealed {
	transform: translateX(0);
}

.sidenavR a, .sidenavR span {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenavR a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenavR .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenavR {padding-top: 15px;}
  .sidenavR a {font-size: 18px;}
}